*{
	border: 0;
	margin: 0;
	padding: 0;
}

body{
	background-color: #a37706;
}

#container{
	position: absolute;
	margin: auto;
	background-color: #352b1b;
	border-radius: 10px;
    background-attachment: local;
	bottom: auto;
}

.screen{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all .5s;
}

#intro{
	background: url('../img/intro.png') no-repeat;
	background-size: 100% 100%;
	opacity: 1;
}

#gameOver{
	background: url('../img/win.png') no-repeat;
	background-size: 100% 100%;
	opacity: 0;
	z-index: -1;
}

.btn{
	position: absolute;
	border-radius: 10px;
	transition: all .5s;
}

#n1{
	background: url('../img/n1.jpg') no-repeat;
	background-size: contain;
}

#n2{
	background: url('../img/n2.jpg') no-repeat;
	background-size: contain;
}

#n3{
	background: url('../img/n3.jpg') no-repeat;
	background-size: contain;
}

#n4{
	background: url('../img/n4.jpg') no-repeat;
	background-size: contain;
}

#n5{
	background: url('../img/n5.jpg') no-repeat;
	background-size: contain;
}

#n6{
	background: url('../img/n6.jpg') no-repeat;
	background-size: contain;
}

#n7{
	background: url('../img/n7.jpg') no-repeat;
	background-size: contain;
}

#n8{
	background: url('../img/n8.jpg') no-repeat;
	background-size: contain;
}

/* Estilo para o cronômetro */
#timerDisplay {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 5px;
	font-family: Arial, sans-serif;
}

